/* General Declarations */
body {
	font-family: 'Verdana', sans-serif;
}
a:link {
	text-decoration: none;
}


/* Navigation Bar */
.nav-bar {
	/* Layout */
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: center;
	/* Color and Design */
	background-color: white;
}
.nav-bar > div {
	/* Layout */
	width: 20%;
/*	min-width: 70px; -- note: width for phone screens */
	margin-right: auto;
	margin-left: auto;
	background-color: White;
	padding-top: 1.5rem;
	/* Font */
	text-align: center;
}
.nav-bar .home-nav {
	color: mintcream;
	background-color: #BBCCEE;
}
.nav-bar .team-nav {
	color: #BBCCEE;
	background-color: #44AA99;
}
.nav-bar .meeting-nav {
	color: steelblue;
	background-color: #999933;
}
.nav-bar .questions-nav {
	color: #999933;
	background-color: #DDCC77;
}
.nav-bar .guide-nav {
	color: #DDCC77;
	background-color: #CC6677;
}
.nav-bar > div:hover {
	cursor: pointer;
}
.nav-bar > a:link {

}

/* Section Container */
.section-container {
	margin-top: 5rem;
}

/* Home Section */
.home-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: steelblue;
	padding-top: 10rem;
}
.home-jumbo h2 {
	margin-right: auto;
	margin-left: 15%;
	font-size: 3rem;
	color: #BBCCEE;
}
.home-jumbo p {
	width: 60%;
	margin-right: auto;
	margin-left: 19%;
	text-align: justify;
	color: mintcream;
}
.home-jumbo .button-container {
	display: flex;
	justify-content: space-between;
	margin-right: 20%;
	margin-left: 60%;
}
.home-jumbo button {
	width: 6rem;
	height: 4rem;
	border: none;
	border-radius: 8px;
	color: steelblue;
	background-color: #BBCCEE;	
}

/* Team Section */
#student-jumbo {
	box-sizing: border-box;
	height: 50rem;
	color: #BBCCEE;
	background-color: #44AA99;
}
#student-jumbo h2 {
	margin-right: auto;
	margin-left: 15%;
	font-size: 5rem;
}
#student-jumbo p {
	width: 60%;
	margin-right: auto;
	margin-left: 20%;
	text-align: justify;
}
#parent-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: #eeddbb;
}
#parent-jumbo h2 {
	margin-right: 15%;
	margin-left: auto;
	font-size: 4rem;
}
#parent-jumbo p {
	width: 60%;
	margin-right: 20%;
	margin-left: auto;
}

#teacher-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: #117733;
}
#admin-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: #332288;
}
#pubrep-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: #882255;
}
#interpret-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: #AA4499;
}
#other-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: #44AA99;
}

/* Meeting Section */
.meetings-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: #999933;
}

/* Contact/Questions Section */
.contact-jumbo {
	box-sizing: border-box;
	height: 50rem;
	background-color: #DDCC77;
}

/* Footer */
footer {
	box-sizing: border-box;
	height: 5rem;
	background-color: black;
}