<!DOCTYPE html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/main.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">

        <header class="header-container">
            <h2>My EP</h2>
            <p>Take Charge of Your Education</p>
        </header>


        <section class="nav-section">
            <div class="rights-container">
                <h3>Know Your Rights</h3> 
            </div>
            <div class="resource-container">
                <h3>Find Resources</h3>
            </div>
            <div class="connect-container">
                <h3>Connect</h3>
            </div>
        </section>

        <section class="q-pro-container">
            <div class="question-container">
                <div class="questions">
                    <h3>Questions</h3>
                </div>
            </div>
            <div class="profile-container"> 
                <div class="profile">
                 <h3>Profile</h3>
                </div>
            </div>
        </section>


        <footer class="footer"> 
        </footer>

        <div class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>
</body>
</html>